apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert
    kompose.version: 1.26.0 (40646f47)
  creationTimestamp: null
  labels:
    io.kompose.service: api
  name: api
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: api
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        kompose.cmd: kompose convert
        kompose.version: 1.26.0 (40646f47)
      creationTimestamp: null
      labels:
        io.kompose.service: api
    spec:
      containers:
        - args:
            - uvicorn
            - main:app
            - --host
            - 0.0.0.0
            - --port
            - "80"
            - --reload
          env:
            - name: MLFLOW_TRACKING_URI
              value: http://10.43.100.99:8003
            - name: MODELS_DIR
              value: /app/models
            - name: MODEL_NAME
              value: property-market-model
            - name: MODEL_STAGE
              value: prod
          image: jdromero9402/mlops_inference_market:20251128-3de09e6
          name: api
          ports:
            - containerPort: 80
          resources: {}
          volumeMounts:
            - mountPath: /app/models
              name: api-claim0
      restartPolicy: Always
      volumes:
        - name: api-claim0
          persistentVolumeClaim:
            claimName: api-claim0
status: {}
