apiVersion: v1
kind: Service
metadata:
  annotations:
    kompose.cmd: kompose convert
    kompose.version: 1.26.0 (40646f47)
  creationTimestamp: null
  labels:
    io.kompose.service: prometheus
  name: prometheus
spec:
  ports:
    - name: "8020"
      port: 8020
      targetPort: 9090
  selector:
    io.kompose.service: prometheus
status:
  loadBalancer: {}
